<div class="page-header">
	<h2><%= @node.new_record? ? "New" : "Edit" %> Node</h2>
</div>


<%= simple_form_for @node, multipart: true do |f| %>

<div class="panel panel-default">

	<div class="panel-heading">
		<h3 class="panel-title">Node content</h3>
	</div>

	<div class="panel-body">
		<%= f.input :title %>
		<%= f.input :time_zone %>
		<%= f.input :dashboard, collection: ['real_time', 'daily', 'weekly', 'monthly', 'yearly'].collect { |v| [ v.humanize, v ] }, as: :check_boxes %>
		<%= f.input :authentication_token, readonly: true %>
		<%= f.input :import, as: :file, input_html: { onchange: "validateFiles(this)", :data => { :max_file_size => 5.megabytes } } %>
	</div>

  <div class="panel-footer">
	  <%= f.button :submit, class: "btn btn-primary", data: { disable_with: 'Saving...'} %>
	  <%= link_to "Cancel", nodes_path, class: "btn btn-default" %>
  </div>

</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">emonLight RaspberryPi configuration</h3>
	</div>

	<div class="panel-body">
		<pre>remote = "emonlight"
url = "<%= "#{read_nodes_url}" %>"
api-key = "<%=@node.authentication_token%>"</pre>
	</div>

</div>


<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Data</h3>
	</div>

	<div class="panel-body">
		<%= f.input :pulse_count, readonly: true %>
		<%= f.input :pulse_first, label: "Starting at", readonly: true %>
		<%= f.input :pulse_last, label: "Ending at", readonly: true %>
	</div>

</div>

<% end %>

