<div class="page-header">
	<h2>Nodes</h2>
</div>

<div class="panel panel-default">

	<div class="panel-body">

	<table class="table">
		<thead>
			<tr>
				<th>Node title</th>
				<th class="right">Actions</th>
			</tr>
		</thead>
		<tbody>
<% for n in @nodes %>
		<tr>
			<td><%= link_to n.title, dashboard_stats_path(n) %></td>
			<td class="right">
				<%= link_to dashboard_stats_path(n), class: "btn btn-default" do %>
  				<span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
  			<% end %>
				<%= link_to(edit_node_path(n), class: "btn btn-default") do %>
  				<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
  			<% end %>
				<%= link_to(node_path(n), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default") do %>
  				<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
  			<% end %>
  		</td>
  	</tr>  	
<% end %>
		</tbody>
		<tfoot>
			<tr>
				<th></th>
				<th><%= link_to(new_node_path, {class: "btn btn-default"}) do %>
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					<% end %>
				</th>
			</tr>
		</tfoot>

	</table>

	</div>

</div>
