
<div class="panel panel-default">

  <div class="panel-heading clearfix">
    <h3 class="panel-title pull-left">
    	<%=current_node.title %> &nbsp; <small>Time zone <b><%= current_node.time_zone %></b></small>
    </h3>
    <h3 class="panel-title pull-right">
      <%= link_to url_for, class: "btn btn-default btn-xs", onclick: "window.forceRefresh = true" do %>
        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
        Refresh
      <% end %>
   	  <%= link_to edit_node_path(current_node), class: "btn btn-default btn-xs" do %>
   	  	<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
   	  	Edit
   	  <% end %>
    </h3>
  </div>

  <div class="panel-body">
		<% for c in @charts %>
			<%= render partial: 'chart', locals: { chart: c } %>
		<% end %>
  </div>

</div>

<%= render partial: "onload" %>
