<%# add navigation links to this file %>
<ul class="nav navbar-nav">
<% if user_signed_in? %>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Manage Nodes<span class="caret"></span></a>
		<ul class="dropdown-menu">
			<li><%= link_to 'Nodes', nodes_path %></li>
			<li><%= link_to 'New node', new_node_path %></li>
<% for node in node_list %>
			<li><%= link_to node.title, node_path(node) %></li>
<% end %>
		</ul>
	</li>
<% if current_node %>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><%= current_node.title %><span class="caret"></span></a>
		<ul class="dropdown-menu">
			<li><%= link_to 'Dashboard', dashboard_stats_path(current_node) %></li>
			<li><%= link_to 'Real time', chart_stats_path(current_node, :real_time) %></li>
			<li><%= link_to 'Daily stats', chart_stats_path(current_node, :daily) %></li>
			<li><%= link_to 'Weekly stats', chart_stats_path(current_node, :weekly) %></li>
			<li><%= link_to 'Monthly stats', chart_stats_path(current_node, :monthly) %></li>
			<li><%= link_to 'Yearly stats', chart_stats_path(current_node, :yearly) %></li>
		</ul>
	</li>
<% end #if current_node %>
<% end #if user_signed %>
</ul>
<ul class="nav navbar-nav navbar-right">
<% if user_signed_in? %>
  <li><%= link_to 'Edit account', edit_user_registration_path %></li>
  <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Sign in', new_user_session_path %></li>
  <li><%= link_to 'Sign up', new_user_registration_path %></li>
<% end %>
</ul>
